> **Tip**: Welcome to the Investigate a Dataset project! You will find tips in quoted sections like this to help organize your approach to your investigation. Once you complete this project, remove these **Tip** sections from your report before submission. First things first, you might want to double-click this Markdown cell and change the title so that it reflects your dataset and investigation.

# Project: Investigate a Dataset - [Dataset-name]

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

### Dataset Description 

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected/downloaded for analysis. Read through the description available on the homepage-links present [here](https://docs.google.com/document/d/e/2PACX-1vTlVmknRRnfy_4eTrjw5hYGaiQim5ctr9naaRd4V9du2B5bxpd8FEH3KtDgp8qVekw7Cj1GLk1IXdZi/pub?embedded=True). List all column names in each table, and their significance. In case of multiple tables, describe the relationship between tables. 


### Question(s) for Analysis
>**Tip**: Clearly state one or more questions that you plan on exploring over the course of the report. You will address these questions in the **data analysis** and **conclusion** sections. Try to build your report around the analysis of at least one dependent variable and three independent variables. If you're not sure what questions to ask, then make sure you familiarize yourself with the dataset, its variables and the dataset context for ideas of what to explore.

> **Tip**: Once you start coding, use NumPy arrays, Pandas Series, and DataFrames where appropriate rather than Python lists and dictionaries. Also, **use good coding practices**, such as, define and use functions to avoid repetitive code. Use appropriate comments within the code cells, explanation in the mark-down cells, and meaningful variable names.

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import pycountry 
import pycountry_convert

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [7]:
# Upgrade pandas to use dataframe.explode() function. 
life_exp = pd.read_csv('C:/Users/EBEN-SUCCESS/Desktop/AIM/Udacity/gdp.csv')

life_exp.head()

,geo,Country Name,1800,1801,1802,1803,1804,1805,1806,1807,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,afg,Afghanistan,674.0,674.0,674.0,674.0,674.0,674.0,674.0,674.0,...,2880.0,2942.0,3004.0,3068.0,3133.0,3200.0,3267.0,3337.0,3408.0,3480.0
1,alb,Albania,746.0,746.0,746.0,746.0,746.0,747.0,747.0,747.0,...,24470.0,24990.0,25520.0,26062.0,26615.0,27181.0,27758.0,28347.0,28949.0,29563.0
2,dza,Algeria,788.0,788.0,788.0,788.0,788.0,788.0,788.0,788.0,...,13237.0,13518.0,13805.0,14098.0,14398.0,14703.0,15015.0,15334.0,15660.0,15992.0
3,and,Andorra,1338.0,1341.0,1343.0,1346.0,1348.0,1351.0,1353.0,1355.0,...,108493.0,110796.0,113148.0,115551.0,118004.0,120509.0,123067.0,125680.0,128348.0,131073.0
4,ago,Angola,691.0,693.0,697.0,700.0,702.0,705.0,709.0,712.0,...,8044.0,8215.0,8389.0,8567.0,8749.0,8935.0,9124.0,9318.0,9516.0,9718.0

In [8]:
life_exp.columns

Index(['geo', 'Country Name', '1800', '1801', '1802', '1803', '1804', '1805',
       '1806', '1807',
       ...
       '2041', '2042', '2043', '2044', '2045', '2046', '2047', '2048', '2049',
       '2050'],
      dtype='object', length=253)

Drop the 'geo' column from the dataset

In [12]:
life_exp.drop(['geo'], axis=1)

,Country Name,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,Afghanistan,674.0,674.0,674.0,674.0,674.0,674.0,674.0,674.0,674.0,...,2880.0,2942.0,3004.0,3068.0,3133.0,3200.0,3267.0,3337.0,3408.0,3480.0
1,Albania,746.0,746.0,746.0,746.0,746.0,747.0,747.0,747.0,747.0,...,24470.0,24990.0,25520.0,26062.0,26615.0,27181.0,27758.0,28347.0,28949.0,29563.0
2,Algeria,788.0,788.0,788.0,788.0,788.0,788.0,788.0,788.0,788.0,...,13237.0,13518.0,13805.0,14098.0,14398.0,14703.0,15015.0,15334.0,15660.0,15992.0
3,Andorra,1338.0,1341.0,1343.0,1346.0,1348.0,1351.0,1353.0,1355.0,1358.0,...,108493.0,110796.0,113148.0,115551.0,118004.0,120509.0,123067.0,125680.0,128348.0,131073.0
4,Angola,691.0,693.0,697.0,700.0,702.0,705.0,709.0,712.0,716.0,...,8044.0,8215.0,8389.0,8567.0,8749.0,8935.0,9124.0,9318.0,9516.0,9718.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Vietnam,966.0,966.0,966.0,966.0,966.0,966.0,966.0,966.0,966.0,...,18121.0,18506.0,18899.0,19300.0,19710.0,20129.0,20556.0,20992.0,21438.0,21893.0
193,Palestine,754.0,754.0,754.0,754.0,754.0,755.0,755.0,755.0,755.0,...,7436.0,7594.0,7755.0,7920.0,8088.0,8259.0,8435.0,8614.0,8797.0,8984.0
194,Yemen,981.0,983.0,986.0,988.0,992.0,994.0,997.0,1000.0,1003.0,...,3979.0,4063.0,4150.0,4238.0,4328.0,4420.0,4513.0,4609.0,4707.0,4807.0
195,Zambia,741.0,743.0,746.0,747.0,749.0,750.0,752.0,755.0,756.0,...,3533.0,3608.0,3684.0,3763.0,3842.0,3924.0,4007.0,4092.0,4179.0,4268.0
196,Zimbabwe,972.0,973.0,974.0,975.0,976.0,977.0,978.0,979.0,981.0,...,3494.0,3568.0,3644.0,3721.0,3800.0,3881.0,3963.0,4047.0,4133.0,4221.0

In [11]:
gdp = pd.read_csv("C:/Users/EBEN-SUCCESS/Desktop/AIM/Udacity/gdp.csv")
gdp.head()

,geo,Country Name,1800,1801,1802,1803,1804,1805,1806,1807,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,afg,Afghanistan,674.0,674.0,674.0,674.0,674.0,674.0,674.0,674.0,...,2880.0,2942.0,3004.0,3068.0,3133.0,3200.0,3267.0,3337.0,3408.0,3480.0
1,alb,Albania,746.0,746.0,746.0,746.0,746.0,747.0,747.0,747.0,...,24470.0,24990.0,25520.0,26062.0,26615.0,27181.0,27758.0,28347.0,28949.0,29563.0
2,dza,Algeria,788.0,788.0,788.0,788.0,788.0,788.0,788.0,788.0,...,13237.0,13518.0,13805.0,14098.0,14398.0,14703.0,15015.0,15334.0,15660.0,15992.0
3,and,Andorra,1338.0,1341.0,1343.0,1346.0,1348.0,1351.0,1353.0,1355.0,...,108493.0,110796.0,113148.0,115551.0,118004.0,120509.0,123067.0,125680.0,128348.0,131073.0
4,ago,Angola,691.0,693.0,697.0,700.0,702.0,705.0,709.0,712.0,...,8044.0,8215.0,8389.0,8567.0,8749.0,8935.0,9124.0,9318.0,9516.0,9718.0

In [13]:
gdp.drop(['geo'],  axis=1)

,Country Name,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,Afghanistan,674.0,674.0,674.0,674.0,674.0,674.0,674.0,674.0,674.0,...,2880.0,2942.0,3004.0,3068.0,3133.0,3200.0,3267.0,3337.0,3408.0,3480.0
1,Albania,746.0,746.0,746.0,746.0,746.0,747.0,747.0,747.0,747.0,...,24470.0,24990.0,25520.0,26062.0,26615.0,27181.0,27758.0,28347.0,28949.0,29563.0
2,Algeria,788.0,788.0,788.0,788.0,788.0,788.0,788.0,788.0,788.0,...,13237.0,13518.0,13805.0,14098.0,14398.0,14703.0,15015.0,15334.0,15660.0,15992.0
3,Andorra,1338.0,1341.0,1343.0,1346.0,1348.0,1351.0,1353.0,1355.0,1358.0,...,108493.0,110796.0,113148.0,115551.0,118004.0,120509.0,123067.0,125680.0,128348.0,131073.0
4,Angola,691.0,693.0,697.0,700.0,702.0,705.0,709.0,712.0,716.0,...,8044.0,8215.0,8389.0,8567.0,8749.0,8935.0,9124.0,9318.0,9516.0,9718.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Vietnam,966.0,966.0,966.0,966.0,966.0,966.0,966.0,966.0,966.0,...,18121.0,18506.0,18899.0,19300.0,19710.0,20129.0,20556.0,20992.0,21438.0,21893.0
193,Palestine,754.0,754.0,754.0,754.0,754.0,755.0,755.0,755.0,755.0,...,7436.0,7594.0,7755.0,7920.0,8088.0,8259.0,8435.0,8614.0,8797.0,8984.0
194,Yemen,981.0,983.0,986.0,988.0,992.0,994.0,997.0,1000.0,1003.0,...,3979.0,4063.0,4150.0,4238.0,4328.0,4420.0,4513.0,4609.0,4707.0,4807.0
195,Zambia,741.0,743.0,746.0,747.0,749.0,750.0,752.0,755.0,756.0,...,3533.0,3608.0,3684.0,3763.0,3842.0,3924.0,4007.0,4092.0,4179.0,4268.0
196,Zimbabwe,972.0,973.0,974.0,975.0,976.0,977.0,978.0,979.0,981.0,...,3494.0,3568.0,3644.0,3721.0,3800.0,3881.0,3963.0,4047.0,4133.0,4221.0

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you **document your data cleaning steps in mark-down cells precisely and justify your cleaning decisions.**


### General Properties
> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

In [ ]:
# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.


### Data Cleaning
> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

In [ ]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. **Compute statistics** and **create visualizations** with the goal of addressing the research questions that you posed in the Introduction section. You should compute the relevant statistics throughout the analysis when an inference is made about the data. Note that at least two or more kinds of plots should be created as part of the exploration, and you must  compare and show trends in the varied visualizations. 



> **Tip**: - Investigate the stated question(s) from multiple angles. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables. You should explore at least three variables in relation to the primary question. This can be an exploratory relationship between three variables of interest, or looking at how two independent variables relate to a single dependent variable of interest. Lastly, you  should perform both single-variable (1d) and multiple-variable (2d) explorations.


### Research Question 1 (Replace this header name!)

In [ ]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed in relation to the question(s) provided at the beginning of the analysis. Summarize the results accurately, and point out where additional research can be done or where additional information could be useful.

> **Tip**: Make sure that you are clear with regards to the limitations of your exploration. You should have at least 1 limitation explained clearly. 

> **Tip**: If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work here, check over your report to make sure that it is satisfies all the areas of the rubric (found on the project submission page at the end of the lesson). You should also probably remove all of the "Tips" like this one so that the presentation is as polished as possible.

## Submitting your Project 

> **Tip**: Before you submit your project, you need to create a .html or .pdf version of this notebook in the workspace here. To do that, run the code cell below. If it worked correctly, you should get a return code of 0, and you should see the generated .html file in the workspace directory (click on the orange Jupyter icon in the upper left).

> **Tip**: Alternatively, you can download this report as .html via the **File** > **Download as** submenu, and then manually upload it into the workspace directory by clicking on the orange Jupyter icon in the upper left, then using the Upload button.

> **Tip**: Once you've done this, you can submit your project by clicking on the "Submit Project" button in the lower right here. This will create and submit a zip file with this .ipynb doc and the .html or .pdf version you created. Congratulations!

In [ ]:
from subprocess import call
call(['python', '-m', 'nbconvert', 'Investigate_a_Dataset.ipynb'])